@import url(https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@200;300&family=Open+Sans+Condensed:wght@300&family=Poppins:wght@200&display=swap);
body {
    background-color: aliceblue;
}
h1 {
    font-family: 'Poppins', sans-serif;
    background-color: azure;
}
#modal_btn {
    float: right;
    background-color: white;
}
#modal_btn:hover {
    text-decoration: underline;
}
h3 {
    font-family: 'Josefin Sans', sans-serif;
}
span {
    font-family: 'Josefin Sans', sans-serif;
}
#clear_canvas_btn {
    background-color: white;
    border: 1px black solid;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}




















































